@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-[hsl(var(--border))];
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}

@layer utilities {
  .bg-background {
    @apply bg-[hsl(var(--background))] dark:bg-[hsl(var(--background))];
  }
  .bg-foreground {
    @apply bg-[hsl(var(--foreground))] dark:bg-[hsl(var(--foreground))];
  }
  .bg-card {
    @apply bg-[hsl(var(--card))] dark:bg-[hsl(var(--card))];
  }
  .bg-popover {
    @apply bg-[hsl(var(--popover))] dark:bg-[hsl(var(--popover))];
  }
  .bg-primary {
    @apply bg-[hsl(var(--primary))] dark:bg-[hsl(var(--primary))];
  }
  .bg-secondary {
    @apply bg-[hsl(var(--secondary))] dark:bg-[hsl(var(--secondary))];
  }
  .bg-muted {
    @apply bg-[hsl(var(--muted))] dark:bg-[hsl(var(--muted))];
  }
  .bg-accent {
    @apply bg-[hsl(var(--accent))] dark:bg-[hsl(var(--accent))];
  }
  .text-foreground {
    @apply text-[hsl(var(--foreground))] dark:text-[hsl(var(--foreground))];
  }
  .text-primary {
    @apply text-[hsl(var(--primary))] dark:text-[hsl(var(--primary))];
  }
  .text-secondary {
    @apply text-[hsl(var(--secondary))] dark:text-[hsl(var(--secondary))];
  }
  .text-muted {
    @apply text-[hsl(var(--muted))] dark:text-[hsl(var(--muted))];
  }
  .text-accent {
    @apply text-[hsl(var(--accent))] dark:text-[hsl(var(--accent))];
  }
  .border-border {
    @apply border-[hsl(var(--border))] dark:border-[hsl(var(--border))];
  }
}
